#jinja2: lstrip_blocks: "true", trim_blocks: "false"

---

# https://www.home-assistant.io/integrations/caldav/
{% for i in home_assistant_integrations.caldav %}
- platform: caldav
  url: {{ i.url }}
  custom_calendars: {{ i.custom_calendars }}
{% endfor %}
