---

# https://github.com/ekutner/home-connect-hass

client_id: "{{ home_assistant_integrations.home_connect_alt.client_id }}"
client_secret: "{{ home_assistant_integrations.home_connect_alt.client_secret }}"
language: "en"
