#jinja2: lstrip_blocks: "true", trim_blocks: "false"

---

# https://github.com/franc6/ics_calendar
calendars:
  {% for i in home_assistant_integrations.ics_calendar %}
  - name: {{ i.name }}
    url: {{ i.url }}
    include_all_day: True
    {% if i.username is defined and i.password is defined %}
    username: {{ i.username }}
    password: {{ i.password }}
    {% endif %}
    {% if i.user_agent is defined %}
    user_agent: {{ i.user_agent }}
    {% endif %}
  {% endfor %}
