---

# How much we paid for the Solar system. Used to calculate breakeven
solar_net_cost:
  name: Solar Net Cost
  min: -13010.00
  max: 99999999.00 # A max is required for all input_number resources
  mode: box
  unit_of_measurement: AUD
  icon: mdi:currency-usd
