---

# https://www.home-assistant.io/integrations/logger

default: warning

filters:
  # govee
  custom_components.govee:
    - "API is back online."

  # ics_calendar
  custom_components.ics_calendar.calendar:
    # Warning about NSW Government format not correct
    - "Trying to decode strm!"

  # localtuya
  custom_components.localtuya.common:
    # suppress error when electric blanket are off
    - ".*Connect to {{ docker_network.prefix }}.4(4|5) failed"
