---

# https://www.home-assistant.io/integrations/logger

default: warning
logs:
  # Python - drop to info
  homeassistant.components.python_script: info

  # Localtuya - too many errors when electric blanket are off
  custom_components.localtuya.common: fatal
