---

# https://www.home-assistant.io/dashboards

mode: storage
dashboards:
  dashboard-main:
    mode: yaml
    title: Dashboard
    icon: mdi:tablet-dashboard
    show_in_sidebar: true
    filename: ui_lovelace_minimalist/dashboard/dashboard-main.yaml
