---

# https://www.home-assistant.io/integrations/notify

- name: MOBILE_PHONES
  platform: group
  services:
    - service: mobile_app_calvin_s_galaxy_s21
    - service: mobile_app_tammy_s_galaxy_s21
