---

# https://www.home-assistant.io/integrations/notify

- name: MOBILE_PHONES
  platform: group
  services:
    - service: mobile_app_calvin_s_galaxy_z_fold6
    - service: mobile_app_tammy_s_galaxy_s24_ultra

- name: MOBILE_PHONES_TESTING
  platform: group
  services:
    - service: mobile_app_calvin_s_galaxy_z_fold6

- name: EMAIL_CALVIN
  platform: smtp
  sender: {{ common_email_username }}
  recipient: {{ common_user }}{{ common_email_to }}
  server: {{ common_email_server }}
  port: {{ common_email_port }}
  username: {{ common_email_username }}
  password: {{ common_email_password }}
  encryption: "{{ 'starttls' if common_email_protocol == 'tls' else 'false' }}"
  sender_name: Home Assistant
  debug: false
  verify_ssl: true
