---

# https://github.com/NemesisRE/sensor.plex_recently_added

-
  platform: plex_recently_added
  token: {{ home_assistant_integrations.plex_token }}
  host: plex.{{ common_tld }}
  port: 32400

{%- raw %}

# https://github.com/mampfes/hacs_waste_collection_schedule
-
  name: Waste Collection Schedule - Waste
  source_index: 0
  types: [Waste]
  <<: &waste_collection_schedule
    platform: waste_collection_schedule
    details_format: upcoming
    add_days_to: true
    value_template: >-
      {% set today = now() %}

      {% if value.daysTo == 0 %}
        Today

      {% elif value.daysTo == 1 %}
        Tomorrow

      {% elif value.date.isocalendar().week == today.isocalendar().week %}
        {{ value.date.strftime("%A")}}

      {% elif value.date.isocalendar().week - today.isocalendar().week == 1 %}
        Next {{ value.date.strftime("%A")}}

      {% elif value.date.isocalendar().week - today.isocalendar().week == 2 %}
        In 2 weeks

      {% else %}
        {{ value.date }} ({{value.daysTo}} days)

      {% endif %}
-
  name: Waste Collection Schedule - Recycling
  source_index: 0
  types: [Recycling]
  <<: *waste_collection_schedule
-
  name: Waste Collection Schedule - Organics
  source_index: 0
  types: [Organics]
  <<: *waste_collection_schedule

# converts kW to kWh for the following solar/grid import/export sensors
# https://www.home-assistant.io/integrations/integration/
-
  platform: integration
  name: Grid Power Import
  unique_id: grid_power_import_kwh
  source: sensor.grid_power_consumption
  method: left
  unit_prefix: k
  unit_time: h
-
  platform: integration
  name: Grid Power Export
  unique_id: grid_power_export_kwh
  source: sensor.grid_power_export
  method: left
  unit_prefix: k
  unit_time: h
-
  platform: integration
  name: Solar Self Consumption
  unique_id: solar_self_consumption_kwh
  source: sensor.solar_self_consumption
  method: left
  unit_prefix: k
  unit_time: h

{%- endraw %}
