---

{%- raw %}
# https://github.com/pnbruckner/ha-sun2
-
  platform: sun2
  monitored_conditions:
    - sunrise
    - sunset

# https://github.com/mampfes/hacs_waste_collection_schedule
-
  name: Waste Collection Schedule - Waste
  source_index: 0
  types: [Waste]
  <<: &waste_collection_schedule
    platform: waste_collection_schedule
    details_format: upcoming
    add_days_to: true
    value_template: >-
      {% set today = now() %}

      {% if value.daysTo == 0 %}
        Today

      {% elif value.daysTo == 1 %}
        Tomorrow

      {% elif value.date.isocalendar().week == today.isocalendar().week %}
        {{ value.date.strftime("%A")}}

      {% elif value.date.isocalendar().week - today.isocalendar().week == 1 %}
        Next {{ value.date.strftime("%A")}}

      {% elif value.date.isocalendar().week - today.isocalendar().week == 2 %}
        In 2 weeks

      {% else %}
        {{ value.date }} ({{value.daysTo}} days)

      {% endif %}
-
  name: Waste Collection Schedule - Recycling
  source_index: 0
  types: [Recycling]
  <<: *waste_collection_schedule
-
  name: Waste Collection Schedule - Organics
  source_index: 0
  types: [Organics]
  <<: *waste_collection_schedule
-
  name: Waste Collection Schedule - Bulk Household
  source_index: 0
  types: [Bulk Household]
  <<: *waste_collection_schedule
-
  name: Waste Collection Schedule - Soft Plastics
  source_index: 1
  types: [Pickup]
  <<: *waste_collection_schedule

# converts kW to kWh for the following solar/grid import/export sensors
# https://www.home-assistant.io/integrations/integration/
-
  platform: integration
  name: Grid Power Import
  unique_id: grid_power_import_kwh
  source: sensor.grid_power_consumption
  method: left
  unit_prefix: k
  unit_time: h
-
  platform: integration
  name: Grid Power Export
  unique_id: grid_power_export_kwh
  source: sensor.grid_power_export
  method: left
  unit_prefix: k
  unit_time: h
-
  platform: integration
  name: Solar Self Consumption
  unique_id: solar_self_consumption_kwh
  source: sensor.solar_self_consumption
  method: left
  unit_prefix: k
  unit_time: h

{%- endraw %}

# https://github.com/CDeLeon94/GTFS-V2-Home-Assistant
-
  platform: gtfs-rt-irl
  trip_update_url: https://api.transport.nsw.gov.au/v2/gtfs/realtime/sydneytrains
  vehicle_position_url: https://api.transport.nsw.gov.au/v2/gtfs/vehiclepos/sydneytrains
  api_key: "apikey {{ home_assistant_integrations.transport_nsw_api_key }}"
  SQL_file_name: transport_nsw_timetables_complete
  departures:
    -
      stop_user_name: "North Strathfield Station Platform 1"
      stop_code: "2137171"
      route: "2-T9-sj2-1" # T9 Northern Line
      operator: "x0001"   # Sydney Trains
    -
      stop_user_name: "North Strathfield Station Platform 2"
      stop_code: "2137172"
      route: "2-T9-sj2-1" # T9 Northern Line
      operator: "x0001"   # Sydney Trains
    -
      stop_user_name: "North Strathfield Station Platform 3"
      stop_code: "2137173"
      route: "2-T9-sj2-1" # T9 Northern Line
      operator: "x0001"   # Sydney Trains
