---

# https://github.com/mampfes/hacs_waste_collection_schedule

day_switch_time: "08:30"

sources:
{{ home_assistant_integrations.waste_collection_schedule | to_json(vault_to_text=True) | from_json | to_nice_yaml(indent=2) }}
