---

# https://github.com/mampfes/hacs_waste_collection_schedule

day_switch_time: "08:30"

sources:
  -
    name: {{ home_assistant_integrations.waste_collection_schedule.source }}
    args:
      suburb: {{ home_assistant_integrations.waste_collection_schedule.suburb }}
      street_name: {{ home_assistant_integrations.waste_collection_schedule.street_name }}
      street_number: {{ home_assistant_integrations.waste_collection_schedule.street_number }}
  -
    name: static
    args:
      type: Soft Plastics
      frequency: DAILY
      interval: 28
      start: '2022-08-11'
      until: '2027-01-01'
