#!/usr/bin/env bash

set -euo pipefail

# This script is called by a systemd timer.
# If a renewal occurs, Lego calls this script again as a hook.
# The LEGO_ACCOUNT_EMAIL variable is only present when called as a hook.

if [ -n "${LEGO_ACCOUNT_EMAIL:-}" ]; then
  # running from renew hook
  echo "Restarting unifi-protect"
  systemctl restart unifi-protect
  echo "Restarting unifi-core"
  systemctl restart unifi-core
else
  # running from systemd timer
  export CF_DNS_API_TOKEN={{ cloudflare_api_token }}

  {{ lego_directory }}/lego \
    --email {{ lego_email }} \
    --domains {{ lego_domain }} \
    --path {{ lego_directory }}/.lego \
    --key-type rsa2048 \
    --accept-tos \
    --dns cloudflare \
    --dns.resolvers 1.1.1.1:53 \
    --dns.resolvers 1.0.0.1:53 \
    renew \
    --days 30 \
    --renew-hook {{ lego_directory }}/lego-renew.sh \
    --renew-hook-timeout 15m0s
fi
