#jinja2: lstrip_blocks: True, trim_blocks: False
---

global:
  slack_api_url: {{ alertmanager_slack_url }}

inhibit_rules:
  - source_matchers:
      - alertname = "BlackboxInternetConnectivity"
    target_matchers:
      - alertname =~ "BlackboxConnection|BlackboxHTTPEndpointMissing|ClockSync|ContainerRestarting|ContainerDown"

templates:
  - "/etc/alertmanager/template/*.tmpl"

receivers:
  - name: mattermost-home-lab-alerts
    slack_configs:
      - &commonMattermostConfig
        channel: '#home-lab-alerts'
        send_resolved: true
        {%- raw %}
        title: |-
          {{ with index .Alerts 0 }}{{ if .Annotations.title }}{{ .Annotations.title }}{{ end }}{{ end }}
        text: >-
          {{ range .Alerts }}
            {{ .Annotations.description }}
          {{ end }}
        {% endraw %}

  - name: "null"

route:
  receiver: mattermost-home-lab-alerts
  group_by:
    - alertname
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 24h
