#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

global:
  slack_api_url: {{ alertmanager_slack_url }}

inhibit_rules:
  - target_matchers:
      - alertname = Internet Connectivity
    source_matchers:
      - alertname =~ "(HTTP Connection|Notification Failing|Clock Sync)"
    equal:
      - 'alertstate'

templates:
  - '/etc/alertmanager/template/*.tmpl'

receivers:
  - name: mattermost-home-lab-alerts
    slack_configs:
      - &commonMattermostConfig
        channel: '#home-lab-alerts'
        send_resolved: true
      {%- raw %}
        title: |-
          {{ with index .Alerts 0 }}{{ if .Annotations.title }}{{ .Annotations.title }}{{ end }}{{ end }}
        text: >-
          {{ range .Alerts }}
            {{ .Annotations.description }}
          {{ end }}
      {% endraw %}

  - name: mattermost-home-lab-alerts-no-resolve
    slack_configs:
      - <<: *commonMattermostConfig
        send_resolved: false

route:
  receiver: mattermost-home-lab-alerts
  group_by: ['alertname','name']
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 24h

  routes:
    - receiver: "mattermost-home-lab-alerts-no-resolve"
      group_by: ['alertname','name']
      group_wait: 10s
      group_interval: 30s
      repeat_interval: 24h
      matchers:
        - send_resolved = "false"
