<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Driveway Camera</title>
    <link rel="stylesheet" href="/static/css/video.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  </head>
  <body>
    <input type="hidden" name="mse-url" id="mse-url" value="">
    <video id="mse-video" autoplay muted playsinline controls></video>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/mse-wss.js"></script>
  </body>
</html>
