<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Driveway Camera</title>
    <link rel="stylesheet" href="/static/css/video.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  </head>
  <body>
    <video id="videoPlayer" autoplay muted playsinline controls></video>
    <script src="/static/plugins/hlsjs/hls.min.js?version=3"></script>
    <script src="/static/js/hls.js"></script>
  </body>
</html>
