---

- hosts: homelab

  vars:
    application: alertmanager

    alertmanager_slack_webhook_id: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      30623531353631653433356263336434373037623036643730356464356263646439326663356232
      6134306334316666613235663930376563366236643966310a303533306436633963356430363435
      36373033346433346539623133663064343532396539386639376361333862613664343765376536
      3135666539623037300a636531653832316165643365303039356565363063333630343033323134
      39633536313162326238386130643032643332363564346632323861643132663161
    alertmanager_slack_url: https://mattermost.{{ common_tld }}/hooks/{{ alertmanager_slack_webhook_id }}

    docker_network: "{{ prometheus_network }}"

  handlers:
    - name: Restart
      community.docker.docker_container:
        name: "{{ application }}"
        restart: true
        comparisons:
          '*': ignore

  tasks:
    - name: Create config folder
      ansible.builtin.file:
        path: "{{ config_directory }}"
        state: directory
        owner: "65534"  # nobody user
        group: "{{ common_group }}"
        mode: "0771"

    - name: Create directories
      ansible.builtin.file:
        path: "{{ config_directory }}/{{ item }}"
        state: directory
        owner: "65534"  # nobody user
        group: "{{ common_group }}"
        mode: "0771"
      loop:
        - config
        - data

    - name: Template config
      ansible.builtin.template:
        src: "{{ files_directory }}/alertmanager.yml.j2"
        dest: "{{ config_directory }}/config/alertmanager.yml"
        owner: "65534"  # nobody user
        group: "{{ common_group }}"
        mode: "0444"
        validate: "docker run --rm --name {{ application }}_config_check -v %s:/tmp/config.yml --entrypoint /bin/amtool prom/alertmanager:latest check-config /tmp/config.yml"
      notify: Restart

    - name: Create container
      ansible.builtin.include_role:
        name: docker_container
      vars:
        image: prom/alertmanager:v0.27.0
        command:
          - "--config.file=/etc/alertmanager/alertmanager.yml"
          - "--storage.path=/alertmanager"
          - "--web.external-url=https://{{ application }}.{{ common_tld }}"
          - "--data.retention=72h"
        volumes:
          - "{{ config_directory }}/config:/etc/alertmanager"
          - "{{ config_directory }}/data:/alertmanager"
        traefik:
          - port: 9093
            auth: page
        homepage:
          group: Monitoring
          weight: 500
          description: "Alerting"
        metrics:
          - port: 9093
        comparisons:
          labels: allow_more_present
        blackbox:
          path: /-/ready
