[defaults]
nocows = true
inventory = inventory.ini
vault_password_file = ~/.vault_pass.txt
jinja2_native = true
verbosity = 1
interpreter_python = auto_silent

[privilege_escalation]
become = true

[connection]
pipelining = true

[ssh_connection]
pipelining = true

[diff]
always = true
