[defaults]
nocows = true
inventory = inventory.ini
vault_password_file = ~/.vault_pass.txt

[privilege_escalation]
become = true

[connection]
pipelining = true

[ssh_connection]
pipelining = true

[diff]
always = true
