ansible==12.0.0
ansible-lint==25.9.0
paramiko==3.5.0

# argon2 stuff for authelia
argon2_cffi==23.1.0

# oxlorg.opnsense
httpx==0.28.1

# json_query
jmespath==1.0.1

# juniper
ncclient==0.6.16
xmltodict==0.14.2
ansible-pylibssh==1.2.2

# ipaddr
netaddr==1.3.0

# htpasswd
passlib==1.7.4

# community.dns.lookup
dnspython==2.7.0
