#jinja2: lstrip_blocks: "true", trim_blocks: "false"
# https://torsion.org/borgmatic/docs/reference/configuration/

source_directories:
  - /mnt/source

repositories:
  - path: ssh://{{ item.repository }}/./repo
    label: {{ item.name }}

{% if item.exclude_patterns is defined %}
exclude_patterns:
  {% for ep in item.exclude_patterns %}
  - {{ ep }}
  {% endfor %}
{% endif %}

compression: auto,zstd,1

check_i_know_what_i_am_doing: true

keep_daily: 6
keep_weekly: 3
keep_monthly: 1

on_error:
  - /etc/borgmatic.d/notifications.sh error {{ item.name }}
