#!/bin/sh

step=$1
name=$2

# check backup exists or if something else has locked it
if /usr/local/bin/borgmatic list; then
  # running repair if that's the problem
  if /usr/local/bin/borgmatic check --repair; then
    # run the backup again if that's the case
    if /usr/local/bin/borgmatic --stats --list -v 0 2>&1; then
      exit 0
    fi
  fi
fi

if [ $step = "before" ]; then
  message="Starting backup :speaker:"
elif [ $step = "after" ]; then
  message="Backup created successfully :+1:"
elif [ $step = "error" ]; then
  message="Error creating backup :x:"
fi

wget --spider --header="Content-Type: application/json" --post-data="{\"text\": \"${name}: ${message}\"}" {{ borgmatic_notification_webhook }}
