---

groups:
  - name: Bonding
    rules:
      -
        alert: BondingSlaveDown
        expr: node_bonding_active < node_bonding_slaves
        for: 2m
        annotations:
          summary: Bonding Slave Interface Down
          description: "{{ $labels.master }} has {{ $value }} active slaves - one or more interfaces are down"
      -
        alert: BondingAllSlavesDown
        expr: node_bonding_active == 0 and node_bonding_slaves > 0
        for: 1m
        annotations:
          summary: All Bonding Slaves Down
          description: "{{ $labels.master }} has no active slaves - complete network redundancy loss"
      -
        alert: BondingSingleSlave
        expr: node_bonding_active == 1 and node_bonding_slaves > 1
        for: 30m
        annotations:
          summary: Bonding Running on Single Slave
          description: "{{ $labels.master }} has been running on a single slave for 30 minutes - no redundancy"
