---

groups:
  - name: systemd-exporter
    rules:
      -
        alert: SystemdExporterDown
        expr: up{job="systemd-exporter"} != 1
        for: 5m
        annotations:
          summary: systemd-exporter is down
          description: "The exporter could not be reached"
      -
        alert: SystemdExporterInactiveService
        expr: systemd_unit_state{state="active"} != 1
        for: 5m
        annotations:
          summary: "Service Not Running"
          description: "The service {{ $labels.name }} is not active on {{ $labels.instance }}"
      -
        alert: SystemdExporterNetavarkDHCPProxyRestarted
        expr: increase(systemd_service_restart_total{name="netavark-dhcp-proxy.service"}[1m]) > 0
        for: 1m
        annotations:
          summary: netavark-dhcp-proxy has restarted
          description: "DHCP renewals will begin failing. Restart the host or all pods to fix."
