---

ipmi_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  62383263373737633066313565663336306661633037386233366566343462393265343938363766
  3631363966386265376536616130363363346639386332380a653934636235353537353064653863
  64643131393762373566336637373537616639363336653837653162346338303563353438636464
  3164626364646565300a656538376264346365623861366633383464663834386236336131633464
  3438

cert_domains:
  -
    domain: "homelab-ipmi.{{ common_local_tld }}"
    keylength: 2048
    method: --dns dns_cf
    script: "ipmi.py"
    script_args: |
      --ipmi-url=https://homelab-ipmi.{{ common_local_tld }} \
      --username=ADMIN --password={{ ipmi_password }} \
      --cert-file={{ config_directory }}/certs/homelab-ipmi.{{ common_local_tld }}/fullchain.cer \
      --key-file={{ config_directory }}/certs/homelab-ipmi.{{ common_local_tld }}/homelab-ipmi.{{ common_local_tld }}.key \
      --model=X10
  -
    domain: "omada.{{ common_local_tld }}"
    keylength: ec-384
    method: --dns dns_cf
    script: "omada.sh"
    script_args: |
      {{ config_directory }}/certs/omada.{{ common_local_tld }}_ecc/fullchain.cer \
      {{ config_directory }}/certs/omada.{{ common_local_tld }}_ecc/omada.{{ common_local_tld }}.key
  -
    domain: "nvr.{{ common_local_tld }}"
    keylength: 2048
    method: --dns dns_cf
    script: "unifi-protect.sh"
    script_args: |
      {{ config_directory }}/certs/nvr.{{ common_local_tld }}/fullchain.cer \
      {{ config_directory }}/certs/nvr.{{ common_local_tld }}/nvr.{{ common_local_tld }}.key
