#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

global:
  slack_api_url: {{ alertmanager_slack_url }}

templates:
  - '/etc/alertmanager/template/*.tmpl'

receivers:
  - name: mattermost
    slack_configs:
      - channel: '#home-lab'
        send_resolved: true
        {%- raw %}
        title: |-
          {{ with index .Alerts 0 }}{{ if .Annotations.title }}{{ .Annotations.title }}{{ end }}{{ end }}
        text: >-
          {{ range .Alerts }}
            {{ .Annotations.description }}
          {{ end }}
        {% endraw %}

route:
  receiver: mattermost
  repeat_interval: 24h
  group_by: ['alertname','name']
