---

- name: Install pip3 and setuptools
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  register: result
  until: result is success
  retries: 5
  delay: 5
  loop:
    - python3-pip
    - python3-setuptools
