---

networks:
  # 192.168.1.1: gateway + dns
  # 192.168.1.2 - 192.168.1.63: static
  # 192.168.1.64 - 192.168.1.191: dynamic
  # 192.168.1.192 - 192.168.1.254: docker
  # 192.168.1.255: broadcast
  mgmt:
    name: mgmt
    description: Management
    subnet: 192.168.1.1/24
    dns: 192.168.1.1
    iprange: 192.168.1.192/26
    prefix: 192.168.1
    parent: ens3f0
    driver: macvlan
    vlan: 10
    priority: 7

  # 192.168.2.1: gateway + dns
  # 192.168.2.2 - 192.168.2.63: static
  # 192.168.2.64 - 192.168.2.191: dynamic
  # 192.168.2.192 - 192.168.2.254: docker
  # 192.168.2.255: broadcast
  user:
    name: user
    description: Userland
    subnet: 192.168.2.1/24
    dns: 192.168.2.1
    iprange: 192.168.2.192/26
    prefix: 192.168.2
    parent: ens3f0
    driver: macvlan
    vlan: 20
    priority: 6

  # 192.168.3.1: gateway + dns
  # 192.168.3.2 - 192.168.3.127: static
  # 192.168.3.128 - 192.168.3.191: dynamic
  # 192.168.3.192 - 192.168.3.254: docker
  # 192.168.3.255: broadcast
  iot:
    name: iot
    description: IOT
    subnet: 192.168.3.1/24
    dns: 192.168.3.1
    iprange: 192.168.3.192/26
    prefix: 192.168.3
    parent: ens3f0
    driver: macvlan
    vlan: 30
    priority: 0
    wifi:
      ssid: "Robot Uprising"
      password: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        31636433646535616238376331373731396531346261646166653330366666386233633464616539
        3435373237653763663664353139316265373664323662650a343032363535626536393761663935
        33356136633765376339653137343735356332363365396266336630656336336630636166303334
        6237633631393363310a313834333336336461316565383361663630633435653161333132656431
        6466

  # 192.168.4.1: gateway + dns
  # 192.168.4.2 - 192.168.4.63: static
  # 192.168.4.64 - 192.168.4.127: dynamic
  # 192.168.4.128 - 192.168.4.254: docker
  # 192.168.4.255: broadcast
  pub:
    name: pub
    description: Public
    subnet: 192.168.4.1/24
    dns: 192.168.4.1
    iprange: 192.168.4.128/25
    prefix: 192.168.4
    parent: ens3f0
    driver: macvlan
    vlan: 40
    priority: 0

  # 192.168.6.1: gateway + dns
  # 192.168.6.2 - 192.168.6.63: static
  # 192.168.6.64 - 192.168.6.127: dynamic
  # 192.168.6.128 - 192.168.6.254: docker
  # 192.168.6.255: broadcast
  granny:
    name: granny
    description: Granny
    subnet: 192.168.6.1/24
    dns: 192.168.6.1
    iprange: 192.168.6.128/25
    prefix: 192.168.6
    parent: ens3f0
    driver: macvlan
    vlan: 50
    priority: 6
