---

# for Homepage/Prometheus to add non-dockerised/discovered services

services:
  - group: Home
    items:
      -
        name: UniFi Protect
        icon: /icons/unifi-protect.png
        description: Home Security Cameras
        url: https://nvr.{{ common_local_tld }}
        weight: 300
        monitor: true
      -
        name: Blue Iris
        icon: /icons/blueiris.png
        description: Grandma's Security Cameras
        url: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          65306366313434376463353439646663623532393635303337623936646334373163643030366533
          3730373136363730663334326131303633383037633663320a316666353134393062393738636532
          32303538346462633761346238646235313763386664636133646531383865323138343064373638
          3239373139393038620a636265363765633636633130343262306132336238643266303061303165
          31646230383863376463363132623264626432343535636332363439353766303966
        weight: 300
        monitor: true

  - group: Collaboration
    items:
      -
        name: JIRA
        icon: /icons/jira.svg
        description: Project management
        url: https://thingstodo.atlassian.net
        weight: 700
        monitor: false

  - group: Gaming
    items: []

  - group: 3D Printing
    items:
      -
        name: OctoPrint
        icon: /icons/octoprint.svg
        description: 3D printing controller
        url: https://octopi.{{ common_local_tld }}
        weight: 100
        monitor: true
        widget:
          type: octoprint
          url: https://octopi.{{ common_local_tld }}
          key: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            33313937663035326235633534383761386136373139343835396336633330643434376530633230
            6463323963326531363632303737376637653564346430320a383566343536616239376635333366
            39643662313434363264333035353732393630383434633366353438323035356230303964343139
            3333616465333964310a363934613437396637653731373235343333383661636230643138626133
            62656463363433323838663930336462663064396166383231346365373434623630386535376538
            3332343462613331303931633936393164363536376634646433
          fields: '["printer_state", "job_completion"]'
      -
        name: OctoPrint Webcam
        icon: /icons/octoprint-webcam.png
        description: Direct link to OctoPrint webcam
        url: https://octopi.{{ common_local_tld }}/webcam/?action=stream
        weight: 110
        monitor: false

  - group: Networking
    items:
      -
        name: OPNsense
        icon: /icons/opnsense.svg
        description: Firewall and router
        url: https://opnsense-web.{{ common_local_tld }}
        weight: 10
        monitor: true
        widget:
          type: opnsense
          version: v2
          url: https://opnsense-web.{{ common_local_tld }}
          username: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            39333831313033393331376630316331653739323834326331313662373137303533353665396464
            3963663761306163313765326237663638343630303632630a323538336539376264653838366132
            32666138623936386230336437343831633532396463323038653930363536643161646133323338
            3635383332646436650a636165386564376366666661376433313261626165663135353530613764
            63316563323232323362396533356564343362313565653265626332323335373036343365613464
            34663832346166373737303633643337363161383964383863633139643030663333393363633234
            65643931343034373564333564393631626133363530656332353236633464323035303164333265
            30363765366238633335326465653332303636313633326436663230373066323230346637633633
            3934
          password: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            33363633656536333933623835636335383238383161623564613237663638633037356461356262
            6136646234326233396361633966663432636534343134350a373130623730633437643732643336
            65343835376434356637623862326164663431303933393934376165323366333436666632336433
            6231383662326362380a376364666330636361363736643235373830316139333231666235663935
            36616134636561316534616264663234306464393733616136363039363164323738396431623230
            30353934613738363238306439303434343735626563613130363636613231386334313633313761
            31373065383161623538653635333365616462346131653433336261316135316530356437663664
            61396363333533663366623630323838396137613132656631396633333932316237363464383366
            3261
          fields: '["wanUpload", "wanDownload"]'

      -
        name: Juniper EX3300-48P
        icon: /icons/juniper.png
        description: Network switch
        url: http://switch.{{ common_local_tld }}
        weight: 20
        monitor: true

  - group: Remote Access
    items:
      -
        name: Homelab IPMI
        url: https://homelab-ipmi.{{ common_local_tld }}
        icon: /icons/ipmi.png
        description: Supermicro IPMI
        weight: 500
        monitor: true

  - group: Home Automation
    items:
      -
        name: Dining Room Tablet
        icon: /icons/fully-kiosk-browser.png
        description: Fully Kiosk Browser
        url: "http://wall-tablet-dining.{{ common_local_tld }}:2323"
        weight: 700
        monitor: false
      -
        name: Foyer Tablet
        icon: /icons/fully-kiosk-browser.png
        description: Fully Kiosk Browser
        url: "http://wall-tablet-foyer.{{ common_local_tld }}:2323"
        weight: 700
        monitor: false
      -
        name: Upstairs Hallway Tablet
        icon: /icons/fully-kiosk-browser.png
        description: Fully Kiosk Browser
        url: "http://wall-tablet-upstairs-hallway.{{ common_local_tld }}:2323"
        weight: 700
        monitor: false
