---

- name: Update vm.overcommit_memory for valkey
  ansible.posix.sysctl:
    name: vm.overcommit_memory
    value: 1
    sysctl_file: /etc/sysctl.d/99-valkey.conf

- name: Create valkey data directory
  ansible.builtin.file:
    path: "{{ valkey_directory }}/data"
    state: directory
    owner: 999
    group: 999
    mode: "0771"

- name: Create valkey.conf
  ansible.builtin.copy:
    content: |
      user default on allcommands allchannels allkeys ~* >{{ valkey_password }}
    dest: "{{ valkey_directory }}/valkey.conf"
    owner: 999
    group: 999
    mode: "0644"

- name: Create valkey container
  ansible.builtin.include_role:
    name: podman_container
  vars:
    container_name: "{{ valkey_name }}"
    image: "ghcr.io/valkey-io/valkey:{{ valkey_version }}"
    command:
      - valkey-server
      - /usr/local/etc/valkey/valkey.conf
    env:
      TZ: "{{ common_timezone }}"
      VALKEY_PASSWORD: "{{ valkey_password }}"
    volumes:
      - "{{ valkey_directory }}/valkey.conf:/usr/local/etc/valkey/valkey.conf"
      - "{{ valkey_directory }}/data:/data"
    healthcheck: "valkey-cli -a $VALKEY_PASSWORD ping | grep -i pong"
    healthcheck_start_period: 30s
    healthcheck_interval: 10s
    healthcheck_timeout: 30s
    healthcheck_retries: 3

- name: Set variables
  ansible.builtin.set_fact:
    _valkey_hostname: "{{ valkey_name }}"
    _valkey_port: "6379"
    _valkey_password: "{{ valkey_password }}"
  no_log: true

- name: Set connection URL variable
  ansible.builtin.set_fact:
    _valkey_url: "redis://:{{ _valkey_password }}@{{ _valkey_hostname }}:{{ _valkey_port }}"
  no_log: true
