#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---
title: Services
subtitle: {{ common_tld }}
logo: assets/logo.png

services:
  - name: Download
    icon: fas fa-cloud-download-alt
    items:
    {% for service in http_services %}
      {% if service.group == "Download" %}
      - name: {{ service.name }}
        logo: {{ service.logo }}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}

  - name: Home
    icon: fas fa-home
    items:
    {% for service in http_services %}
      {% if service.group == "Home" %}
      - name: {{ service.name }}
        logo: {{ service.logo }}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}

  - name: Tools
    icon: fas fa-tools
    items:
    {% for service in http_services %}
      {% if service.group == "Tools" %}
      - name: {{ service.name }}
        logo: {{ service.logo }}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}

  - name: Monitoring
    icon: fas fa-chart-area
    items:
    {% for service in http_services %}
      {% if service.group == "Monitoring" %}
      - name: {{ service.name }}
        logo: {{ service.logo }}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}

  - name: Infrastructure
    icon: fas fa-server
    items:
    {% for service in http_services %}
      {% if service.group == "Infrastructure" %}
      - name: {{ service.name }}
        logo: {{ service.logo }}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}
