#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---
title: Services
subtitle: {{ common_tld }}
logo: logo.png

header: false
footer: false
connectivityCheck: false

services:
  - name: Download
    icon: fas fa-cloud-download-alt
    items:
    {% for service in http_services %}
      {% if service.group == "Download" %}
      - name: {{ service.name }}
      {% if service.logo is defined %}
        logo: assets/custom/{{ service.logo }}
      {% elif service.icon is defined %}
        icon: {{ service.icon }}
      {% endif %}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}

  - name: Home
    icon: fas fa-home
    items:
    {% for service in http_services %}
      {% if service.group == "Home" %}
      - name: {{ service.name }}
      {% if service.logo is defined %}
        logo: assets/custom/{{ service.logo }}
      {% elif service.icon is defined %}
        icon: {{ service.icon }}
      {% endif %}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}

  - name: Sharing
    icon: fas fa-people-arrows
    items:
    {% for service in http_services %}
      {% if service.group == "Sharing" %}
      - name: {{ service.name }}
      {% if service.logo is defined %}
        logo: assets/custom/{{ service.logo }}
      {% elif service.icon is defined %}
        icon: {{ service.icon }}
      {% endif %}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}

  - name: Tools
    icon: fas fa-tools
    items:
    {% for service in http_services %}
      {% if service.group == "Tools" %}
      - name: {{ service.name }}
      {% if service.logo is defined %}
        logo: assets/custom/{{ service.logo }}
      {% elif service.icon is defined %}
        icon: {{ service.icon }}
      {% endif %}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}

  - name: Monitoring
    icon: fas fa-chart-area
    items:
    {% for service in http_services %}
      {% if service.group == "Monitoring" %}
      - name: {{ service.name }}
      {% if service.logo is defined %}
        logo: assets/custom/{{ service.logo }}
      {% elif service.icon is defined %}
        icon: {{ service.icon }}
      {% endif %}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}

  - name: Infrastructure
    icon: fas fa-server
    items:
    {% for service in http_services %}
      {% if service.group == "Infrastructure" %}
      - name: {{ service.name }}
      {% if service.logo is defined %}
        logo: assets/custom/{{ service.logo }}
      {% elif service.icon is defined %}
        icon: {{ service.icon }}
      {% endif %}
        subtitle: {{ service.subtitle }}
        url: {{ service.url }}
      {% endif %}
    {% endfor %}
