---

apprise:
  enabled: false

browser:
  geolocation: {{ common_country_iso_3166 }}
  language: "{{ common_language_iso_639 }}"

logging:
  level: INFO

accounts:
{% for account in ms_rewards_farmer_accounts %}
- {{ account | ansible.builtin.to_json(vault_to_text=True) | ansible.builtin.from_json | ansible.builtin.to_nice_yaml | ansible.builtin.indent(2) }}
{% endfor %}
