---

- name: Create MariaDB directory
  ansible.builtin.file:
    path: "{{ mariadb_directory }}"
    state: directory
    owner: 999
    group: 999
    mode: "0775"

- name: Create MariaDB container
  ansible.builtin.include_role:
    name: podman_container
  vars:
    container_name: "{{ mariadb_name }}"
    image: "public.ecr.aws/docker/library/mariadb:{{ mariadb_version }}"
    volumes: "{{ mariadb_directories }}"
    env:
      MARIADB_USER: "{{ mariadb_user }}"
      MARIADB_PASSWORD: "{{ mariadb_password }}"
      MARIADB_DATABASE: "{{ mariadb_database }}"
      MARIADB_RANDOM_ROOT_PASSWORD: "true"
      TZ: "{{ common_timezone }}"
  register: mariadb_container

- name: Set variables
  ansible.builtin.set_fact:
    _mariadb_hostname: "{{ mariadb_name }}"
    _mariadb_port: "3306"
    _mariadb_username: "{{ mariadb_user }}"
    _mariadb_password: "{{ mariadb_password }}"
    _mariadb_database: "{{ mariadb_database }}"
  no_log: true

- name: Wait for mariadb to come up
  ansible.builtin.pause:
    seconds: 10
  when: mariadb_container.changed
