#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/docker/

# my-docker:
#   host: 127.0.0.1
#   port: 2375

my-docker:
  host: "{{ application }}-docker-socket-proxy.{{ docker_network.name }}"
  port: 2375
