#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

# https://esphome.io/components/esphome.html
esphome:
  name: $name
  friendly_name: $friendly_name

logger:
  baud_rate: 0

uart:
  baud_rate: 256000
  parity: NONE
  stop_bits: 1

ld2410: ~

switch:
  - platform: ld2410
    engineering_mode:
      name: "Engineering Mode"
    bluetooth:
      name: "Bluetooth"

binary_sensor:
  - platform: ld2410
    has_target:
      name: Presence
    has_moving_target:
      name: Moving Target
    has_still_target:
      name: Still Target

number:
  - platform: ld2410
    timeout:
      name: Unmanned Duration
    light_threshold:
      name: Light Threshold
      disabled_by_default: true
    max_move_distance_gate:
      name: Max Move Distance Gate
      disabled_by_default: true
    max_still_distance_gate:
      name: Max Still Distance Gate
      disabled_by_default: true
    g0:
      move_threshold:
        name: G0 Move Threshold
      still_threshold:
        name: G0 Still Threshold
    g1:
      move_threshold:
        name: G1 Move Threshold
      still_threshold:
        name: G1 Still Threshold
    g2:
      move_threshold:
        name: G2 Move Threshold
      still_threshold:
        name: G2 Still Threshold
    g3:
      move_threshold:
        name: G3 Move Threshold
      still_threshold:
        name: G3 Still Threshold
    g4:
      move_threshold:
        name: G4 Move Threshold
      still_threshold:
        name: G4 Still Threshold
    g5:
      move_threshold:
        name: G5 Move Threshold
      still_threshold:
        name: G5 Still Threshold
    g6:
      move_threshold:
        name: G6 Move Threshold
      still_threshold:
        name: G6 Still Threshold
    g7:
      move_threshold:
        name: G7 Move Threshold
      still_threshold:
        name: G7 Still Threshold
    g8:
      move_threshold:
        name: G8 Move Threshold
      still_threshold:
        name: G8 Still Threshold

sensor:
  - platform: ld2410
    moving_distance:
      name : Moving Distance
    still_distance:
      name: Still Distance
    moving_energy:
      name: Move Energy
    still_energy:
      name: Still Energy
    detection_distance:
      name: Detection Distance
    # energy only appears in engineering mode
    g0:
      move_energy:
        name: G0 Move Energy
      still_energy:
        name: G0 Still Energy
    g1:
      move_energy:
        name: G1 Move Energy
      still_energy:
        name: G1 Still Energy
    g2:
      move_energy:
        name: G2 Move Energy
      still_energy:
        name: G2 Still Energy
    g3:
      move_energy:
        name: G3 Move Energy
      still_energy:
        name: G3 Still Energy
    g4:
      move_energy:
        name: G4 Move Energy
      still_energy:
        name: G4 Still Energy
    g5:
      move_energy:
        name: G5 Move Energy
      still_energy:
        name: G5 Still Energy
    g6:
      move_energy:
        name: G6 Move Energy
      still_energy:
        name: G6 Still Energy
    g7:
      move_energy:
        name: G7 Move Energy
      still_energy:
        name: G7 Still Energy
    g8:
      move_energy:
        name: G8 Move Energy
      still_energy:
        name: G8 Still Energy

button:
  - platform: ld2410
    restart:
      name: Restart
    query_params:
      name: Refresh
