#jinja2: lstrip_blocks: "true", trim_blocks: "false"
# modified from https://github.com/gcormier/megadesk/blob/master/esphome.md
---

# https://esphome.io/components/esphome.html
esphome:
  name: $name
  friendly_name: $friendly_name
  includes:
    - .code_megadesk.h
  comment: ESPHome Device controlling Megadesk controller
  on_boot:
    priority: -100
    then:
      - delay: 1s
      - uart.write: "<C0.0." # reports current position
      - delay: 1s
      - uart.write: "<R0.11." # read eeprom slot 11 - lowest position
      - delay: 1s
      - uart.write: "<R0.12." # read eeprom slot 11 - highest position

# https://esphome.io/components/sensor/index.html
sensor:
  -
    platform: custom
    lambda: |-
      auto megadesk = new Megadesk(id(uart_desk));
      App.register_component(megadesk);
      return { megadesk->raw_height, megadesk->min_height, megadesk->max_height };
    sensors:
      -
        id: megadesk_raw
        internal: true
        on_value:
          then:
            - component.update: megadesk_height_cm
            - component.update: megadesk_height_raw
      -
        name: "Megadesk Minimum Height"
        internal: true
      -
        name: "Megadesk Maximum Height"
        internal: true

# https://esphome.io/components/number/index.html
# https://esphome.io/components/number/template.html
number:
  -
    platform: template
    name: "Megadesk Height (cm)"
    id: megadesk_height_cm
    min_value: 58.42
    max_value: 118.745
    step: 0.53
    mode: slider
    update_interval: never
    unit_of_measurement: 'cm'
    #NewValue = (((OldValue - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin)) + NewMin
    lambda: |-
      return ((((id(megadesk_raw).state - 299) * (119.38 - 58.42)) / (6914 - 299)) + 58.42);
    set_action:
      - number.set:
          id: megadesk_height_raw
          value: !lambda "return int((((x - 58.42) * (6640 - 299)) / (119.38 - 58.42)) + 299);"
  -
    platform: template
    name: "Megadesk Height (raw)"
    id: megadesk_height_raw
    internal: true
    min_value: 299
    max_value: 6640
    step: 1
    mode: slider
    update_interval: never
    lambda: |-
      return id(megadesk_raw).state;
    set_action:
      - uart.write: !lambda |-
          char buf[20];
          sprintf(buf, "<=%i,.", int(x));
          std::string s = buf;
          return std::vector<unsigned char>( s.begin(), s.end() );

# https://esphome.io/components/button/index.html
# https://esphome.io/components/button/template.html
button:
  {% for button in [
    { "name": "Desk Position 2", "serial": ["<L0,2."] },
    { "name": "Desk Position 3", "serial": ["<L0,3."] },
    { "name": "Desk Position 4", "serial": ["<L0,4."] },
    { "name": "Desk Position 5", "serial": ["<L0,5."] },
    { "name": "Toggle Minimum Desk Height", "serial": ["<L0,11.", "<R0,11."] },
    { "name": "Toggle Maximum Desk Height", "serial": ["<L0,12.", "<R0,12."] },
    { "name": "Recalibrate Desk", "serial": ["<L0,14."] },
    { "name": "Reboot Megadesk", "serial": ["<L0,15."] },
    { "name": "Toggle Audio feedback", "serial": ["<L0,17."] },
    { "name": "Toggle both-button mode", "serial": ["<L0,18."] }
  ] %}
  -
    platform: template
    name: "{{ button['name'] }}"
    on_press:
      then:
        {% for c in button['serial'] %}
        - uart.write: "{{ c }}"
        {% endfor %}
  {% endfor %}

# https://esphome.io/guides/automations.html#interval-component
interval:
  -
    interval: 300s
    then:
      - uart.write: "<C0.0."
