#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

# https://esphome.io/components/web_server.html
web_server:
  port: 80
  local: true
  auth:
    username: "{{ esphome_web_server_auth.username }}"
    password: "{{ esphome_web_server_auth.password }}"
  include_internal: false
