#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

# https://esphome.io/components/wifi.html
wifi:
  ssid: "{{ networks.iot.wifi.ssid }} 2.4G"
  password: {{ networks.iot.wifi.password }}
  domain: .{{ common_local_tld }}
  fast_connect: true
