#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

# https://github.com/agittins/bermuda/wiki/ESPHome-Configurations#esp32-c3-modules

esp32:
  framework:
    sdkconfig_options:
      CONFIG_BT_BLE_42_FEATURES_SUPPORTED: y
      CONFIG_BT_BLE_50_FEATURES_SUPPORTED: y
      CONFIG_ESP_TASK_WDT_TIMEOUT_S: "10"

api:
  on_client_connected:
     - esp32_ble_tracker.start_scan:
        continuous: true
  on_client_disconnected:
    if:
      condition:
        not:
          api.connected:
      then:
        - esp32_ble_tracker.stop_scan:

esp32_ble_tracker:
  scan_parameters:
    continuous: false
    active: true
    interval: 320ms
    window: 300ms

sensor:
  - platform: uptime
    name: "Uptime Sensor"
    update_interval: 60s
