#jinja2: lstrip_blocks: True, trim_blocks: False
---

# https://esphome.io/components/wifi.html
wifi:
  ssid: {{ esphome_wifi.ssid }}
  password: {{ esphome_wifi.password }}
  domain: .{{ common_local_tld }}
  fast_connect: true
