#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

# https://esphome.io/components/substitutions.html
substitutions:
  name: presence-detector-03
  friendly_name: Presence Detector 03 - Dining

# https://esphome.io/components/packages.html
packages:
  project: !include .project-presence-detectors.yaml
