#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

# https://esphome.io/components/substitutions.html
substitutions:
  name: presence-detector-02
  friendly_name: Presence Detector 02

# https://esphome.io/components/packages.html
packages:
  d1mini: !include .common_d1mini.yaml
  wifi: !include .common_wifi.yaml
  ota: !include .common_ota.yaml
  web_server: !include .common_web_server.yaml
  api: !include .common_api.yaml
  device_base: !include .base_ld2410.yaml
