#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

# https://esphome.io/components/substitutions.html
substitutions:
  name: presence-detector-05
  friendly_name: Presence Detector 05

# https://esphome.io/components/packages.html
packages:
  project: !include .project-presence-detectors.yaml
