#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

# https://esphome.io/components/substitutions.html
substitutions:
  name: presence-detector-07
  friendly_name: Presence Detector 07 - Tammy's Study

# https://esphome.io/components/packages.html
packages:
  project: !include .project-presence-detectors-v2.yaml
