#jinja2: lstrip_blocks: True, trim_blocks: False
---

# https://esphome.io/components/substitutions.html
substitutions:
  name: presence-detector-06
  friendly_name: Presence Detector 06 - Calvin's Study

# https://esphome.io/components/packages.html
packages:
  project: !include .project-presence-detectors-v2.yaml
