#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

# https://esphome.io/components/substitutions.html
substitutions:
  name: megadesk-calvin
  friendly_name: Calvin's Megadesk

# https://esphome.io/components/packages.html
packages:
  project: !include .project-megadesk.yaml
