#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

server:
  address: 0.0.0.0:9091

theme: dark

identity_validation:
  reset_password:
    jwt_secret: "{{ authelia_jwt_secret }}"

authentication_backend:
  password_reset:
    disable: false
  refresh_interval: 1m
  ldap:
    implementation: custom
    address: ldap://lldap.{{ docker_network.name }}:3890
    timeout: 5s
    start_tls: false

    base_dn: "{{ ldap_base_dn }}"

    additional_users_dn: ou=people
    users_filter: "(&({username_attribute}={input})(objectClass=person))"


    additional_groups_dn: ou=groups
    groups_filter: "(member={dn})"

    attributes:
      username: uid
      display_name: displayName
      mail: mail
      group_name: cn

    user: "uid={{ ldap_username }},ou=people,{{ ldap_base_dn }}"
    password: "{{ ldap_password}}"

access_control:
  default_policy: deny
  rules:
    -
      domain_regex: "^(bazarr|esphome|glances|nzbget|peanut|prometheus|prowlarr|qbittorrent|radarr|scrutiny|sonarr|sonarr-anime).({{ common_local_tld }}|{{ common_tld }})$"
      policy: bypass
      networks: ['{{ networks.pub.prefix}}.251/32']
    -
      domain:
        - "*.{{ common_tld }}"
        - "*.{{ common_local_tld }}"
      policy: one_factor

session:
  name: authelia_session
  secret: "{{ authelia_session_secret }}"
  cookies:
    - domain: {{ common_tld }}
      authelia_url: "https://authelia.{{ common_tld }}"
      default_redirection_url: "https://{{ common_tld }}"
  redis:
    host: {{ _redis_hostname }}
    port: {{ _redis_port }}
    password: {{ _redis_password }}

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  encryption_key: "{{ authelia_storage_encryption_key }}"
  postgres:
    address: {{ _postgres_hostname }}:{{ _postgres_port }}
    database: {{ _postgres_database }}
    username: "{{ _postgres_username }}"
    password: "{{ _postgres_password }}"

notifier:
  smtp:
    username: "{{ common_email_username }}"
    password: "{{ common_email_password }}"
    address: "{{ common_email_server }}:{{ common_email_port }}"
    sender: "{{ application }}{{ common_email_to }}"
    disable_require_tls: "{{ 'false' if common_email_protocol=='tls' else 'true' }}"

log:
  level: debug
  format: json
  file_path: /var/log/authelia/authelia.log
  keep_stdout: true


identity_providers:
  oidc:
    jwks:
      - key: |
          {{ _authelia_private_key.privatekey | indent(10) }}

    cors:
      endpoints:
        - userinfo
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins:
        - "https://mealie.{{ common_tld }}"

    clients:
      {% for k, v in ldap_oidc_apps.items() %}
      - client_id: {{ k }}
        client_name: {{ k | title }}
        {% if 'secret' in v %}
        client_secret: "{{ v.secret | string | argon2(authelia_salt) }}"
        public: false
        {% else %}
        public: true
        {% endif %}
        authorization_policy: one_factor
        consent_mode: implicit
        redirect_uris:
          {% for r in v.redirect_uris %}
          - {{ r }}
          {% endfor %}
        scopes:
          - openid
          - profile
          - email
        {% if k in ["outline"] %}
          - offline_access
        token_endpoint_auth_method: client_secret_post
        {% endif %}
        {% if k in ["mealie", "nextcloud"] %}
          - groups
        require_pkce: true
        pkce_challenge_method: 'S256'
        {% endif %}
        userinfo_signed_response_alg: none
        {% if k == "guacamole" %}
        response_types:
          - id_token
        grant_types:
          - implicit
        {% endif %}
        {% if k == "mealie" %}
        grant_types:
          - authorization_code
        {% endif %}
      {% endfor %}
