#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

server:
  host: 0.0.0.0
  port: 9091

theme: dark

jwt_secret: "{{ authelia_jwt_secret }}"

default_redirection_url: https://{{ application }}.{{ common_tld }}

authentication_backend:
  password_reset:
    disable: false
  refresh_interval: 1m
  ldap:
    implementation: custom
    url: ldap://{{ ldap_host }}
    timeout: 5s
    start_tls: false
    base_dn: {{ ldap_base_dn }}
    username_attribute: uid
    additional_users_dn: ou=people
    users_filter: "(&({username_attribute}={input})(objectClass=person))"
    additional_groups_dn: ou=groups
    groups_filter: "(member={dn})"
    group_name_attribute: cn
    mail_attribute: mail
    display_name_attribute: displayName
    user: "uid={{ ldap_admin_user }},ou=people,{{ ldap_base_dn }}"
    password: {{ ldap_admin_password }}

access_control:
  default_policy: deny
  rules:
    -
      domain_regex: "^(bazarr|glances|nzbget|peanut|prometheus|prowlarr|qbittorrent|radarr|scrutiny|sonarr|sonarr-anime).({{ common_local_tld }}|{{ common_tld }})$"
      policy: bypass
      networks: ['{{ networks.pub.prefix}}.251/32']
    -
      domain:
        - "*.{{ common_tld }}"
        - "*.{{ common_local_tld }}"
      subject:
        - "group:humans"
        - "user:blackbox_exporter"
      policy: one_factor

session:
  name: authelia_session
  secret: "{{ authelia_session_secret }}"
  domain: {{ common_tld }}
  redis:
    host: {{ _redis_hostname }}
    port: {{ _redis_port }}
    password: {{ _redis_password }}

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  encryption_key: "{{ authelia_storage_encryption_key }}"
  postgres:
    host: {{ _postgres_hostname }}
    port: {{ _postgres_port }}
    database: {{ _postgres_database }}
    username: "{{ _postgres_username }}"
    password: "{{ _postgres_password }}"

notifier:
  smtp:
    username: "{{ common_email_username }}"
    password: "{{ common_email_password }}"
    host: "{{ common_email_server }}"
    port: "{{ common_email_port }}"
    sender: "{{ application }}{{ common_email_to }}"
    disable_require_tls: "{{ 'false' if common_email_protocol=='tls' else 'true' }}"

log:
  file_path: /var/log/authelia/authelia.log
