[http.routers.api]
  rule = "Host(`traefik.{{ common_tld }}`)"
  entryPoints = ["web-secure"]
  service = "api@internal"
  middlewares = ["myAuth"]
  [http.routers.api.tls]
    certResolver = "letsencrypt"
      [[http.routers.api.tls.domains]]
        main = "traefik.{{ common_tld }}"

[http.routers.local-api]
  rule = "Host(`traefik.{{ docker_network.name }}`)"
  entryPoints = ["web"]
  service = "api@internal"
  middlewares = ["myAuth"]

# htpasswd -nb user password
[http.middlewares]
  [http.middlewares.redirect.redirectScheme]
    scheme = "https"
  [http.middlewares.myAuth.basicAuth]
    users = ["{{ htpasswd.username }}:{{ htpasswd.password_hashed }}"]

[tls.options]
  [tls.options.default]
    sniStrict = true
    minVersion = "VersionTLS12"
