global:
  checkNewVersion: false
  sendAnonymousUsage: false

providers:
  docker:
    defaultRule: 'Host(`{% raw %}{{ normalize .Name }}{% endraw %}.{{ common_tld }}`)'
  file:
    filename: /dynamic_conf.yaml

entryPoints:
  web:
    address: ':80/tcp'

  web-secure:
    address: ':443/tcp'

  rtmp:
    address: ':1935/tcp'

  metrics:
    address: ':8082/tcp'

  ntp:
    address: ':123/udp'

certificatesResolvers:
  letsencrypt:
    acme:
      email: '{{ common_email_username }}'
      storage: acme.json
      tlsChallenge: {}

api: {}

pilot:
  dashboard: false

log:
  level: "INFO"

accessLog:
  filePath: "/var/log/access.log"
  filters:
    statusCodes:
      - "401-499"
