global:
  checkNewVersion: false
  sendAnonymousUsage: false

providers:
  docker:
    defaultRule: 'Host(`{% raw %}{{ normalize .Name }}{% endraw %}.{{ common_tld }}`)'
  file:
    filename: /dynamic_conf.yaml

experimental:
  http3: true

entryPoints:
  web:
    address: ':80/tcp'
    http:
      middlewares:
        - crowdsec-bouncer@file

  web-secure:
    address: ':443'
    http3:
      advertisedPort: 443
    http:
      middlewares:
        - crowdsec-bouncer@file
        - security-headers@file

  metrics:
    address: ':8082/tcp'

  ntp:
    address: ':123/udp'

certificatesResolvers:
  {{ traefik_certresolver }}:
    acme:
      email: '{{ common_email_username }}'
      storage: acme.json
      keyType: 'EC384'
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 100
        disablePropagationCheck: true
        resolvers:
          - 8.8.8.8:53
          - 8.8.4.4:53

api: {}

log:
  level: 'INFO'
  filePath: '/var/log/traefik/traefik.log'

accessLog:
  filePath: '/var/log/traefik/access.log'
