#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

title: Services
subtitle: {{ common_tld }}
logo: logo.png

header: false
footer: false
connectivityCheck: false

services:
{% for service in services %}
    - name: {{ service.group }}
      icon: {{ service.homer_icon }}
      items:
      {% for item in service['items'] %}
        - name: {{ item.name }}
        {% if item.logo is defined %}
          logo: logos/{{ item.logo }}
        {% elif item.icon is defined %}
          icon: {{ item.icon }}
        {% endif %}
          subtitle: {{ item.subtitle }}
          url: {{ item.url }}
          priority: {{ item.priority }}
      {% endfor %}
{% endfor %}
