{
  "db": {
    "host": "{{ mongo_hostname }}",
    "username": "{{ mongo_username }}",
    "password": "{{ mongo_password }}",
    "name": "{{ mongo_database }}"
  },
  "status": {
    "message": "Hi {{ common_user }}",
    "allowNewSyncs": "false"
  }
}
