{
  "db": {
    "host": "{{ _mongo_hostname }}",
    "username": "{{ _mongo_username }}",
    "password": "{{ _mongo_password }}",
    "name": "{{ _mongo_database }}"
  },
  "status": {
    "message": "Hi {{ common_user }}",
    "allowNewSyncs": "false"
  }
}
