#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

scrape_configs:
  - job_name: blackbox_dns_over_tls
    metrics_path: /probe
    params:
      module: [dns_over_tls]
    static_configs:
      - targets:
          # dns.quad9.net
          - 9.9.9.9
          - 149.112.112.112

          # dot.sb
          - 185.222.222.222
          - 45.11.45.11
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ application }}.{{ docker_network.name }}:9115
