#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

- job_name: blackbox_dns_over_tls
  metrics_path: /probe
  params:
    module: [tcp_tls]
  static_configs:
    - targets:
      - dot.seby.io:853
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{ application }}.{{ docker_network.name }}:9115
