#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

- job_name: blackbox_plex_port
  metrics_path: /probe
  params:
    module: [tcp_port]
  static_configs:
    - targets:
      - 103.108.229.82:54926
      - 103.108.229.98:54926
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{ application }}.{{ docker_network.name }}:9115

- job_name: blackbox_torrent_port
  metrics_path: /probe
  params:
    module: [tcp_port]
  static_configs:
    - targets:
      - 103.108.229.82:58086
      - 103.108.229.98:58086
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{ application }}.{{ docker_network.name }}:9115
