#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

global:
  scrape_interval: 60s
  evaluation_interval: 60s
  external_labels:
    server: homelab

rule_files:
  - '/rules/*.yml'

scrape_config_files:
  - '/scrape_config_files/*'

scrape_configs:
  - job_name: docker_containers
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
      - # Only keep containers that have a `prometheus.enable = true` label.
        action: keep
        source_labels: [__meta_docker_container_label_prometheus_enable]
        regex: true
      - # Use the task labels that are prefixed by `prometheus(.-_)`.
        action: labelmap
        regex: __meta_docker_container_label_prometheus_(.+)
        replacement: $1
      - # replace the default port 80 with our own
        action: replace
        source_labels: [__address__, __meta_docker_container_label_prometheus_port]
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: $1:$2
        target_label: __address__
      - # replace the scheme with our own
        action: replace
        regex: (https?)
        source_labels: [__meta_docker_container_label_prometheus_scheme]
        target_label: __scheme__
      - # replace the path with our own
        action: replace
        regex: (.+)
        source_labels: [__meta_docker_container_label_prometheus_path]
        target_label: __metrics_path__

  - job_name: systemd_exporter
    static_configs:
      - targets:
          - nvr.{{ common_local_tld }}:9558

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
          - alertmanager.{{ docker_network.name }}:9093
