#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

scrape_configs:
  - job_name: prometheus-docker-sd
    file_sd_configs:
      - files:
        - /prometheus-docker-sd/docker-targets.json

  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http]
    static_configs:
      - targets:
      {% for service in http_services %}
        {% if 'excludeMonitoring' not in service %}
        - {{ service.url }}
        {% endif %}
      {% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter.{{ docker_network.name }}:9115

rule_files:
  - /etc/prometheus/rules.yml

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
          - alertmanager.{{ docker_network.name }}:9093
