#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

title: Gardening
path: gardening
icon: mdi:flower

cards:
  -
    <<: &gardening_card
      type: custom:flower-card
      show_bars: [illuminance, humidity, moisture, conductivity, temperature, dli]
    entity: plant.monstera
    battery_sensor: sensor.monstera_battery
  -
    entity: plant.chilli
    battery_sensor: sensor.chilli_battery
    <<: *gardening_card
