---

- name: Create Elasticsearch directory
  ansible.builtin.file:
    path: "{{ elasticsearch_directory }}"
    state: directory
    owner: "1000" # elasticsearch
    group: "1000" # elasticsearch
    mode: "0740"

- name: Create Elasticsearch container
  ansible.builtin.include_role:
    name: podman_container
  vars:
    container_name: "{{ elasticsearch_name }}"
    image: "docker.elastic.co/elasticsearch/elasticsearch:{{ elasticsearch_version }}"

    env:
      ELASTIC_PASSWORD: "{{ elasticsearch_password }}"
      ES_JAVA_OPTS: "-Xms{{ elasticsearch_memory }} -Xmx{{ elasticsearch_memory }}"

      cluster.name: "{{ elasticsearch_name }}"
      discovery.type: single-node
      bootstrap.memory_lock: "true"
      logger.org.elasticsearch: WARN
      xpack.security.http.ssl.enabled: "false"

    volumes:
      - "{{ elasticsearch_directory }}:/usr/share/elasticsearch/data"

    cap_add:
      - IPC_LOCK

- name: Set variables
  ansible.builtin.set_fact:
    _elasticsearch_hostname: "{{ elasticsearch_name }}"
    _elasticsearch_password: "{{ elasticsearch_password }}"
    _elasticsearch_port: 9200
  no_log: true

- name: Set connection URL variable
  ansible.builtin.set_fact:
    _elasticsearch_url: "http://elastic:{{ _elasticsearch_password }}@{{ _elasticsearch_hostname }}:{{ _elasticsearch_port }}"
  no_log: true
