[{{ nut_user['master'].name }}]
  password = {{ nut_user['master'].password }}
  actions = SET FSD
  instcmds = ALL
  upsmon master

[{{ nut_user['slave'].name }}]
  password = {{ nut_user['slave'].password }}
  upsmon slave
