#jinja2: lstrip_blocks: "true", trim_blocks: "false"

[agent]
  interval = "10s"
  hostname = "homelab"

[[outputs.influxdb]]
  urls = ["http://{{ influxdb_ip }}:8086"]
  database = "{{ influxdb_database }}"
  skip_database_creation = true
  retention_policy = "{{ influxdb_database }}_rpo"
  username = "{{ influxdb_username }}"
  password = "{{ influxdb_password }}"

[[inputs.docker]]

[[inputs.cpu]]

[[inputs.mem]]

[[inputs.net]]

[[inputs.disk]]
  ignore_fs = ["overlay", "tmpfs", "shm", "squashfs"]

[[inputs.system]]

[[inputs.systemd_units]]

[[inputs.http_response]]
  urls = [
    {% for service in http_services %}
    "{{ service.url }}",
    {% endfor %}
  ]

[[inputs.x509_cert]]
  sources = [
{% for service in http_services %}
  {% if 'https' in service.url %}
    {% if service.url | regex_search(':\d+$') %}
    "{{ service.url }}",
    {% else %}
    "{{ service.url }}:443",
    {% endif %}
  {% endif %}
{% endfor %}
  ]
