#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

modules:
  http: &module
    prober: http
    timeout: 30s
    http: &probe
      method: GET
      valid_status_codes:
        - 200
      fail_if_ssl: false
      fail_if_not_ssl: false
      preferred_ip_protocol: "ipv4"
      tls_config:
        insecure_skip_verify: true

  http_basic_auth:
    <<: *module
    http:
      <<: *probe
      basic_auth:
        username: {{ blackbox_auth_username }}
        password: {{ blackbox_auth_password }}

  http_page_auth:
    <<: *module
    http:
      <<: *probe
      headers:
        Proxy-Authorization: Basic {{ (blackbox_auth_username + ":" + blackbox_auth_password) | b64encode }}
