init_config:
instances:
  - name: opnsense
    url: https://opnsense.{{ common_local_tld }}
  - name: freenas-ipmi
    url: https://freenas-ipmi.{{ common_local_tld }}
    check_certificate_expiration: false
  - name: freenas
    url: https://freenas.{{ common_local_tld }}
  - name: homelab-ipmi
    url: https://homelab-ipmi.{{ common_local_tld }}
    check_certificate_expiration: false
