init_config:
instances:
  - unit_names:
      - nut-driver.service
      - nut-monitor.service
      - nut-server.service
      - nfs-client.target
      - ssh.service
      - docker.socket
      - docker.service
      - cron.service
      - containerd.service
      - lxd-containers.service
      - mnt-files.mount
      - mnt-recordings.mount
