---

- name: Create Postgres data directory
  ansible.builtin.file:
    path: "{{ postgres_directory }}"
    state: directory
    owner: 999
    group: 999
    mode: "0700"

- name: Create Postgres container
  ansible.builtin.include_role:
    name: podman_container
  vars:
    container_name: "{{ postgres_name }}"
    image: "{{ postgres_image }}:{{ postgres_version }}"
    env:
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: "{{ postgres_database }}"
      TZ: "{{ common_timezone }}"
    volumes: "{{ postgres_directories }}"
    healthcheck: pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}
    healthcheck_interval: 30s
    healthcheck_timeout: 20s
    healthcheck_retries: 3

  register: postgres_container

- name: Set variables
  ansible.builtin.set_fact:
    _postgres_hostname: "{{ postgres_name }}"
    _postgres_port: "5432"
    _postgres_username: "{{ postgres_user }}"
    _postgres_password: "{{ postgres_password }}"
    _postgres_database: "{{ postgres_database }}"
  no_log: true

- name: Set connection URL variable
  ansible.builtin.set_fact:
    _postgres_url: "postgres://{{ _postgres_username }}:{{ _postgres_password }}@{{ _postgres_hostname }}:{{ _postgres_port }}/{{ _postgres_database }}"
    _postgresql_url: "postgresql://{{ _postgres_username }}:{{ _postgres_password }}@{{ _postgres_hostname }}:{{ _postgres_port }}/{{ _postgres_database }}"
  no_log: true

- name: Wait for postgres to come up
  ansible.builtin.pause:
    seconds: 10
  when: postgres_container.changed
