
---

ipProviders:
  - http://syncflaer-dns.{{ docker_network.name }}

notifications:
  slack:
    webhookURL: {{ syncflaer_slack_webhook }}
    username: syncflaer
    channel: "#dns-updates"

traefikInstances:
  - name: traefik
    url: http://traefik.{{ networks.mgmt.name }}
    username: {{ htpasswd.username }}
    password: {{ htpasswd.password }}
    ignoredRules:
      - {{ common_short_tld }}
      - traefik.{{ networks.mgmt.name }}

cloudflare:
  apiToken: {{ cloudflare_token }}
  zoneNames:
    - {{ common_tld }}
  deleteGrace: 50
  defaults:
    type: A
    proxied: false
    ttl: 120
