#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---

global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

scrape_configs:
  - job_name: node
    static_configs:
    - targets:
        - {{ node_exporter_name }}.{{ network.name }}:9100

  - job_name: cadvisor
    static_configs:
      - targets:
        - {{ cadvisor_name }}.{{ network.name }}:8080

  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http]
    static_configs:
      - targets:
      {% for service in http_services %}
        - {{ service.url }}
      {% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ blackbox_exporter_name }}.{{ network.name }}:9115

  - job_name: process-exporter
    static_configs:
      - targets:
        - {{ process_exporter_name }}.{{ network.name }}:9256

rule_files:
  - /etc/prometheus/rules.yml

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
          - alertmanager.{{ network.name }}:9093
